---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.vue';
import Works from '../../components/Works.vue';
import { siteConfig } from '../../config/site.js';
import { defaultLang, t } from '../../config/i18n.js';

const currentLang = 'ca';
const pageTitle = t('portfolio.title');
---

<Layout title={pageTitle}>
  <Navbar client:load />
  
  <main class="min-h-screen">
    <Works client:load showFilters={true} />
  </main>
</Layout>