---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.vue';
import Works from '../../components/Works.vue';
import { siteConfig } from '../../config/site.js';
import { defaultLang, t } from '../../config/i18n.js';

const currentLang = 'es';
const pageTitle = `${siteConfig.name} - Portafolio`;
---

<Layout title={pageTitle}>
  <div class="min-h-screen bg-light" data-lang="es">
    <Navbar client:load lang="es" />
    
    <main class="min-h-screen">
      <Works client:load showFilters={true} lang="es" />
    </main>
  </div>
</Layout>